<div class="container-header">
        <p>hotdog</p>
        <nav>
            <a href="/homepage-without-login">
              <img src="/Graphics Logo.png" id="logo">
            </a>
            <button class="header-button" id="discover-buttons">DISCOVER</button>
                <div class="dropdown-content" id="discover-dropdowns-without-login">
                    <a href="/topgames-without-login">Top Rated Games</a>
                    <a href="/allgames-without-login">View All Games</a>
                </div>
            <a href="/login">
                <button class="header-button" id="sign-in-button">SIGN-IN</button>
            </a>
        </nav>
    </div>