<div class="container-header">
        <p>hotdog</p>
        <nav>
            <a href="/homepage-with-login">
              <img src="/Graphics Logo.png" id="logo">
            </a>
            <button class="header-button" id="discover-button">DISCOVER</button>
                <div class="dropdown-content" id="discover-dropdown">
                    <a href="/topgames-with-login">Top Rated Games</a>
                    <a href="/allgames-with-login">View All Games</a>
                </div>
            <button class="header-button" id="review-button">REVIEW</button>
                <div class="dropdown-content-review" id="review-dropdown">
                    <a href="/review">Write a Review</a>
                    <a href="/review-add-game">Add a Game Review</a>
                </div>
            <button class="header-button" id="profile-button">PROFILE</button>
                <div class="dropdown-content-profile" id="profile-dropdown">
                    <a href="/viewprofile">View User Profile</a>
                    <a href="/homepage-without-login">Logout</a>
                </div>
        </nav>
    </div>