<div class="login-body">
        <div class="login-container" id="checkemail-container">
        <div class="form-container-signup">
            <form>
                <h1>Check your email!</h1>
                <span>we've sent password reset instructions to your email.</span>
                <a href="login">Return to login</a>
            </form>
        </div>
    </div>
</div>