<div class="login-body">
    <div class="login-container" id="forgetpass-container">
        <div class="form-container-signup">
            <a class="go-back-btn" href="login"><i class="fas fa-arrow-left"></i></a>
            <form action="checkemail" method="GET">
                <h1>Forgot Your Password</h1>
                <span>enter your email address</span>
                <input type="email" placeholder="Email">
               <button type="submit">Request reset link</button>
                <a href="login">Return to login</a>
            </form>                
        </div>
    </div>
</div>