<div class="pt1 everything">
    {{> header-without-login}}
    <h3 class="text-white text-center pt-3">

      What to Review?

    </h3>
    <div class="review-body-aaron">
      <div class="review-search-container">
        <input type="text" class="review-search-input" id="review-search-input-no-login" placeholder="Search...">
        <button class="review-search-icon"><i class="fas fa-search"></i></button>
        <div class="review-search-results" id ="review-search-results-no-login"></div>
    </div>
    </div>
    <div class="text-white text-center">
      
      <h6 class="genre">DIFFERENT GENRES</h6>
      <div class="genre2">Battle Royale, RPG, FPS, Single Player Games</div>
    </div>
    
    <div class="d-flex justify-content-center pic">
        <img src="1.png">
        <img src="2.png">
        <img src="3.png">
        <img src="4.png">
        <img src="5.png">
    </div>
    
    <div class="d-flex justify-content-center">
        <img src="6.png" class="pics">
        <img src="7.png" class="picx">
    </div>
    
    <div class="space"> ALISHA AARON NEO SHAIMMA </div>
  </div>
  
  <div class="text-center part2">
    <h4>About Gameboy!</h4>
    <p>We recognized a void in the digital landscape for a unified platform where gamers can access reliable and consistent reviews. With the multitude of video games flooding the market, discerning which ones are worth your time and investment can be daunting. That's why we've set out to create a dedicated space exclusively for video game enthusiasts, where they can find insightful critiques and recommendations.

        Our team is passionate about gaming and understands the importance of trustworthy reviews in making informed decisions. We believe that every gamer deserves access to unbiased opinions and thorough assessments. That's why we're committed to providing a platform that prioritizes transparency, inclusivity, and trust.<p>
  </div>