<div class="login-body">
        <div class="login-container" id="login-container">
        <div class="form-container-login">
            <form action="/login" method="POST">
                <h1>Log In</h1>
                <span>or use your email to login</span>
                <input type="text" placeholder="Username" name="username">
                <input type="password" placeholder="Password" name="password">
                <a href="forgotpassword">Forget your password?</a>
                <button type="submit">Log In</button>
                <a href="signup" class="new-account-link">New here? Create an Account!</a>
            </form>
        </div>
        <div class="image-container-login">
            <img src="poke.gif" alt="games">
        </div>
    </div>
</div>