<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameBoy!</title>
    <link rel="icon" type="image/png" href="Tab Icon (1).png">
    <link href="/common/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>

<div class="login-body">
    <div class="login-container" id="container">
        <div class="form-container-signup">
            <form>
                <h1>Review made!</h1>
                <span>you can now find your review in its game profile!.</span>
                <a href="/homepage-with-login">Return to homepage</a>
            </form>
        </div>
    </div>
</body>
</html>