{{> header-login}}
<div class="review-body">
    <div class="review-container-body">
        <h1>Write a review, level up someone's gaming experience</h1>
        <p>Gaming tales like yours enhance fellow players' experiences. Contribute your story</p>
        <p>and empower the gaming community!</p>
    </div>
    <div class="review-search-container">
        <input type="text" class="review-search-input" placeholder="Search...">
        <button class="review-search-icon"><i class="fas fa-search"></i></button>
        <div class="review-search-results"></div>
    </div>
</div>